html[data-theme="opera-air"],
html[data-theme="opera-air-dark"] {
  --spacing-1: 0.125rem;
  --spacing-2: 0.25rem;
  --spacing-3: 0.5rem;
  --spacing-4: 0.75rem;
  --spacing-5: 1.25rem;
  --spacing-6: 1.5rem;
  --spacing-7: 2rem;
  --spacing-8: 2.5rem;
  --spacing-9: 3rem;
  --spacing-10: 4rem;
  --spacing-11: 5rem;
  --spacing-12: 6rem;
  --spacing-13: 10rem;

  --radius-1: 4px;
  --radius-2: 8px;
  --radius-3: 12px;
  --radius-4: 16px;
  --radius-5: 24px;
  --radius-6: 100px;

  /* TODO: make it abstract, token-based */
  --opera-button-border-radius: 8px;
  --opera-chatbot-button-border-radius: 8px;
  --opera-chatbot-message-highlight-bg-padding-y: 3.5px;
  --opera-chatbot-scroll-down-border-width: 4px;
  --opera-menu-wrapper-width: 256px;
  --opera-tab-view-menu-wrapper-width: 256px;
  --opera-button-border-radius: 8px;
  --opera-chatbot-button-border-radius: 8px;
  --opera-chatbot-message-highlight-bg-padding-y: 3.5px;

  --opera-menu-wrapper-width-chat-2-0-gap: 136px;
}
