html[data-theme="opera-gx-dark"] {
  --theme-palette-gx-no-04-values: env(-opera-background-color-h) env(-opera-background-color-s) 4%;
  --theme-palette-gx-no-04: hsl(var(--theme-palette-gx-no-04-values));
  --theme-palette-gx-no-12-values: env(-opera-background-color-h) env(-opera-background-color-s) 12%;
  --theme-palette-gx-no-12: hsl(var(--theme-palette-gx-no-12-values));
  --theme-palette-gx-no-16-values: env(-opera-background-color-h) env(-opera-background-color-s) 16%;
  --theme-palette-gx-no-16: hsl(var(--theme-palette-gx-no-16-values));
  --theme-palette-gx-no-20-values: env(-opera-background-color-h) env(-opera-background-color-s) 20%;
  --theme-palette-gx-no-20: hsl(var(--theme-palette-gx-no-20-values));
  --theme-palette-gx-no-24-values: env(-opera-background-color-h) env(-opera-background-color-s) 24%;
  --theme-palette-gx-no-24: hsl(var(--theme-palette-gx-no-24-values));
  --theme-palette-gx-no-32-values: env(-opera-background-color-h) env(-opera-background-color-s) 32%;
  --theme-palette-gx-no-32: hsl(var(--theme-palette-gx-no-32-values));
  --theme-palette-gx-no-40-values: env(-opera-background-color-h) env(-opera-background-color-s) 40%;
  --theme-palette-gx-no-40: hsl(var(--theme-palette-gx-no-40-values));
  --theme-palette-gx-no-76-values: env(-opera-background-color-h) env(-opera-background-color-s) 76%;
  --theme-palette-gx-no-76: hsl(var(--theme-palette-gx-no-77-values));
  --theme-palette-gx-no-77-values: env(-opera-background-color-h) env(-opera-background-color-s) 77%;
  --theme-palette-gx-no-77: hsl(var(--theme-palette-gx-no-77-values));
  --theme-palette-gx-no-80-values: env(-opera-background-color-h) env(-opera-background-color-s) 80%;
  --theme-palette-gx-no-80: hsl(var(--theme-palette-gx-no-80-values));
  --theme-palette-gx-no-96-values: env(-opera-background-color-h) env(-opera-background-color-s) 96%;
  --theme-palette-gx-no-96: hsl(var(--theme-palette-gx-no-96-values));
  --theme-palette-gx-no-100-values: env(-opera-background-color-h) env(-opera-background-color-s)
    100%;
  --theme-palette-gx-no-100: hsl(var(--theme-palette-gx-no-100-values));
  --theme-palette-gx-accent-l-30-values-rgb: calc(env(-opera-accent-color-r) * 0.3)
    calc(env(-opera-accent-color-g) * 0.3) calc(env(-opera-accent-color-b) * 0.3);
  --theme-palette-gx-accent-l-30: rgb(var(--theme-palette-gx-accent-l-30-values-rgb));
  --theme-palette-gx-accent-l-140-values-rgb: calc(
      env(-opera-accent-color-r) + ((255 - env(-opera-accent-color-r)) * 0.4)
    )
    calc(env(-opera-accent-color-g) + ((255 - env(-opera-accent-color-g)) * 0.4))
    calc(env(-opera-accent-color-b) + ((255 - env(-opera-accent-color-b)) * 0.4));
  --theme-palette-gx-accent-l-140: rgb(var(--theme-palette-gx-accent-l-140-values-rgb));

  --color-stroke-components: hsl(
    env(-opera-gx-background-color-h) env(-opera-gx-background-color-s) 32%
  );
  --color-surface-primary: hsl(
    env(-opera-gx-background-color-h) env(-opera-gx-background-color-s) 4%
  );
  --color-surface-on-hover: hsl(
    env(-opera-gx-background-color-h) env(-opera-gx-background-color-s) 12%
  );
  --color-surface-on-hover-op-60: hsl(
    env(-opera-gx-background-color-h) env(-opera-gx-background-color-s) 24%
  );
  --color-surface-input-field-bg: hsl(
    env(-opera-gx-background-color-h) env(-opera-gx-background-color-s) 8%
  );
  --color-buttons-secondary: hsl(
    env(-opera-gx-background-color-h) env(-opera-gx-background-color-s) 16%
  );
  --color-buttons-primary-bg: env(-opera-gx-accent-color);
  --color-buttons-primary-border-hover: rgb(
    calc(env(-opera-gx-accent-color-r) * (0.6)) calc(env(-opera-gx-accent-color-g) * (0.6))
      calc(env(-opera-gx-accent-color-b) * (0.6))
  );
  --color-buttons-primary-bg-hover: rgb(
    calc(env(-opera-gx-accent-color-r) * (0.6)) calc(env(-opera-gx-accent-color-g) * (0.6))
      calc(env(-opera-gx-accent-color-b) * (0.6))
  );
  --color-buttons-primary-border-active: rgb(
    calc(env(-opera-gx-accent-color-r) * (1.2)) calc(env(-opera-gx-accent-color-g) * (1.2))
      calc(env(-opera-gx-accent-color-b) * (1.2))
  );
  --color-buttons-primary-bg-active: rgb(
    calc(env(-opera-gx-accent-color-r) * (1.2)) calc(env(-opera-gx-accent-color-g) * (1.2))
      calc(env(-opera-gx-accent-color-b) * (1.2))
  );
  --color-buttons-primary-text: hsl(
    env(-opera-gx-background-color-h) env(-opera-gx-background-color-s) 100%
  );
  --color-buttons-secondary-border: hsl(
    env(-opera-gx-background-color-h) env(-opera-gx-background-color-s) 32%
  );
  --color-buttons-secondary-bg: hsl(
    env(-opera-gx-background-color-h) env(-opera-gx-background-color-s) 16%
  );
  --color-buttons-secondary-border-hover: hsl(
    env(-opera-gx-background-color-h) env(-opera-gx-background-color-s) 32%
  );
  --color-buttons-secondary-bg-hover: hsl(
    env(-opera-gx-background-color-h) env(-opera-gx-background-color-s) 32%
  );
  --color-buttons-secondary-border-active: hsl(
    env(-opera-gx-background-color-h) env(-opera-gx-background-color-s) 32%
  );
  --color-buttons-secondary-bg-active: hsl(
    env(-opera-gx-background-color-h) env(-opera-gx-background-color-s) 32%
  );
  --color-buttons-secondary-text: hsl(
    env(-opera-gx-background-color-h) env(-opera-gx-background-color-s) 100%
  );

  --color-highlight-yellow: #ffc01f;
  --color-highlight-green: #02ffc2;
  --color-highlight-pink: #ff7ead;
  --color-description: hsl(env(-opera-gx-background-color-h) env(-opera-gx-background-color-s) 77%);
  --color-buttons-cobalt: env(-opera-gx-accent-color);
  --color-extra-content-bg: hsl(
    env(-opera-gx-background-color-h) env(-opera-gx-background-color-s) 12%
  );

  --color-cobalt-blue: #5021ff;
  --color-coral-island: #e24c5e;
  --color-settings-gray-2: #484d65;
  --color-solid-dolphin: #252836;
  --color-surface-input-field: #41455a;
  --color-opera-prompt-command-image-background: env(-opera-gx-background-color-h)
    env(-opera-gx-background-color-s) 16%;

  /* TODO: separate layout and colors */
  --linkify-box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.16);
  --opera-confirmation-popup-box-shadow: 0px 0px 40px 0px rgba(3, 6, 21, 0.53);
  --new-chat-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);

  --new-chat-bg-color: env(-opera-gx-accent-color);

  --opera-gx-accent-color: env(-opera-gx-accent-color);
  --opera-gx-accent-color-40: hsl(env(-opera-gx-accent-color-h) env(-opera-gx-accent-color-s) 40%);
  --opera-gx-accent-color-0: hsl(env(-opera-gx-accent-color-h) env(-opera-gx-accent-color-s) 0%);
  --opera-chatbot-first-background-title: #fff;
  --opera-chatbot-button-primary-active: env(-opera-gx-accent-color);
  --opera-chatbot-button-primary-hovered: rgb(
    calc(env(-opera-gx-accent-color-r) * (0.6)) calc(env(-opera-gx-accent-color-g) * (0.6))
      calc(env(-opera-gx-accent-color-b) * (0.6))
  );
  --opera-chatbot-button-primary-color: #fff;

  --opera-chatbot-button-secondary-active-border: hsl(
    env(-opera-gx-background-color-h) env(-opera-gx-background-color-s) 32%
  );
  --opera-chatbot-button-secondary-active-bg: hsl(
    env(-opera-gx-background-color-h) env(-opera-gx-background-color-s) 16%
  );
  --opera-chatbot-button-secondary-hovered: hsl(
    env(-opera-gx-background-color-h) env(-opera-gx-background-color-s) 24%
  );
  --opera-chatbot-button-secondary-color: #fff;

  --opera-chatbot-scrollbar-thumb: hsl(
    env(-opera-gx-background-color-h) env(-opera-gx-background-color-s) 32%
  );
  --opera-input-scrollbar-track: hsl(
    env(-opera-gx-background-color-h) env(-opera-gx-background-color-s) 16%
  );
  --opera-menu-scrollbar-track: hsl(
    env(-opera-gx-background-color-h) env(-opera-gx-background-color-s) 8%
  );

  --opera-chatbot-background: var(--color-classic-gx-no-08);
  --opera-screenshot-background: var(--opera-chatbot-background);
  --opera-screenshot-radius: 8;
  --opera-chatbot-input: #fff;
  --opera-chatbot-form-input-bg: hsl(
    env(-opera-gx-background-color-h) env(-opera-gx-background-color-s) 8%
  );
  --opera-chatbot-burger-bg: hsl(
    env(-opera-gx-background-color-h) env(-opera-gx-background-color-s) 32%
  );
  --opera-chatbot-scroll-down-border-color: hsl(
    env(-opera-gx-background-color-h) env(-opera-gx-background-color-s) 32%
  );
  --opera-chatbot-to-content: #fff;
  --opera-chatbot-from-content: #fff;
  --opera-chatbot-message-active-border: rgb(
    calc(env(-opera-gx-accent-color-r) * (0.6)) calc(env(-opera-gx-accent-color-g) * (0.6))
      calc(env(-opera-gx-accent-color-b) * (0.6))
  );
  --opera-chatbot-message-title: #fff;

  --opera-menu-checked-box: env(-opera-gx-accent-color);
  --opera-menu-option: hsl(env(-opera-gx-background-color-h) env(-opera-gx-background-color-s) 24%);
  --opera-menu-option-buttons-bg: transparent;
  --opera-menu-input: #fff;
  --opera-menu-edit-input-bg: hsl(
    env(-opera-gx-background-color-h) env(-opera-gx-background-color-s) 32%
  );
  --opera-menu-edit-input-color: #fff;
  --opera-menu-footer-bg: hsl(
    env(-opera-gx-background-color-h) env(-opera-gx-background-color-s) 24%
  );
  --opera-menu-footer-text: rgba(255, 255, 255, 0.8);

  --opera-confirmation-popup-background: rgba(0, 0, 0, 0.67);

  --tooltip-bg-color: #252835;
  --opera-chatbot-first-background: url(@/assets/new-chat-gx.svg);

  --opera-chatbot-link-bg: var(--color-neutral-90);
  --opera-chatbot-table-bg: hsl(
    env(-opera-gx-background-color-h) env(-opera-gx-background-color-s) 32%
  );

  --opera-chatbot-codebox-header-bg: hsl(
    env(-opera-gx-background-color-h) env(-opera-gx-background-color-s) 12%
  );
  --opera-icon-color: #fff;
  --opera-icon-copy: url(@/assets/icons/copy.svg);
  --opera-icon-done: url(@/assets/icons/edit-submit-icon.svg);
  --opera-remove-icon: url(@/assets/icons/cross_icon.svg);

  --opera-chatbot-scroll-down-border-color: rgb(
    calc(env(-opera-gx-accent-color-r)) calc(env(-opera-gx-accent-color-g))
      calc(env(-opera-gx-accent-color-b))
  );
  --opera-chatbot-scroll-down-border-color-hovered: hsl(
    env(-opera-gx-background-color-h) env(-opera-gx-background-color-s) 24%
  );
  --opera-chatbot-blockquote-bg: hsl(env(-opera-gx-background-color-h) 0% 20%);
  --opera-chatbot-logo-bg: hsl(
    env(-opera-gx-background-color-h) env(-opera-gx-background-color-s) 0%
  );
  --logo-opera-gx-url: url(@/assets/logo-opera-gx-dark.svg);
  --opera-chatbot-message-highlight-menu-sep: #372e4b;
  --opera-chatbot-message-highlight-border: #e7edf1;
  --opera-chatbot-message-highlight-active-border: #ff1d53;
  --opera-chatbot-message-highlight-bg-custom-1: #ffc01f;
  --opera-chatbot-message-highlight-bg-custom-2: #00aba0;
  --opera-chatbot-message-highlight-bg-custom-3: #ff2f7b;
  --opera-chatbot-message-highlight-bg-default: rgba(37, 40, 53, 1);
  --opera-chatbot-message-highlight-bg: #542870;
  --opera-chatbot-message-highlight-color: #fff;
  --opera-chatbot-message-highlight-rephrase-init-background-color-start: var(
    --opera-chatbot-message-highlight-bg
  );
  --opera-chatbot-message-highlight-rephrase-init-background-color-end: transparent;
  --opera-chatbot-message-highlight-rephrase-done-background-color-start: var(
    --opera-chatbot-message-highlight-bg
  );
  --opera-chatbot-message-highlight-rephrase-done-background-color-end: transparent;

  --aria-bg-shape-shadow-start-color: hsl(var(--theme-palette-gx-no-12-values) / 0.77);
  --aria-bg-shape-shadow-stop-color: hsl(var(--theme-palette-gx-no-12-values) / 0);
  --aria-bg-shape-shadow-color: linear-gradient(
    102deg,
    var(--aria-bg-shape-shadow-start-color) 60%,
    var(--aria-bg-shape-shadow-stop-color) 76%
  );
  --aria-bg-shape-fill-color: var(--color-level-0);
}
